allow adsprpcd_file self:filesystem associate;
allow adsprpcd_file vendor_file:dir {open getattr read search lock};
allow adsprpcd vendor_file:dir {read open getattr search lock};
