# communicate with perfd
allow cameraserver mpctl_data_file:dir search;
allow cameraserver mpctl_data_file:sock_file write;
allow cameraserver mpctl_socket:dir search;
allow cameraserver mpctl_socket:sock_file write;
allow cameraserver sysfs_kgsl:file r_file_perms;
# gcam fix
allow cameraserver sysfs_camera:dir search;
allow cameraserver sysfs_camera:file { open read };
#allow cameraserver camera_socket:sock_file w_file_perms;
#allow cameraserver vendor_file:file execmod;
allow cameraserver hal_camera:fd use;
allow cameraserver untrusted_app_25:fd use;
