allow cnd diag_prop:property_service set;
get_prop(cnd, diag_prop);
allow cnd sysfs:file r_file_perms;
allow cnd sysfs_data:file r_file_perms;
allow cnd hal_cne_hwservice:hwservice_manager find;

# Allow cnd to access cnd_core_data_file
allow cnd cnd_core_data_file:file create_file_perms;
allow cnd cnd_core_data_file:sock_file { unlink create setattr };
allow cnd cnd_core_data_file:dir r_dir_perms;

allow cnd system_wpa_socket:sock_file unlink;
