type cir_device, dev_type;
type proc_irq, fs_type;
type proc_kernel_sched, fs_type;
type sysfs_devices_fingerprint, sysfs_type, file_type;
type sysfs_gesture, fs_type, sysfs_type;
type sysfs_power_management, sysfs_type, fs_type;
