type cir_device, dev_type;
type perfd_data_file, file_type, core_data_file_type, data_file_type;
type debugfs_wlan, debugfs_type, fs_type;
type debugfs_rmts, debugfs_type, fs_type;
type mpt_file, file_type, data_file_type;
type proc_irq, proc_type;
type proc_kernel_sched, proc_type;
type sysfs_devices_fingerprint, sysfs_type, fs_type;
type sysfs_gesture, fs_type, sysfs_type;
type sysfs_power_management, sysfs_type, fs_type;
type sysfs_spi, fs_type, sysfs_type;
type camera_socket, file_type, core_data_file_type, data_file_type;
type wcnss_prop, property_type;
type cnd_core_data_file, file_type, core_data_file_type, data_file_type;
