type fpc_early_loader, domain;
type fpc_early_loader_exec, exec_type, file_type;

init_daemon_domain(fpc_early_loader)

allow fpc_early_loader tee_device:chr_file { open read write ioctl };
