allow hal_sensors_default sysfs:file { read open };
get_prop(hal_sensors_default, default_prop)
get_prop(hal_sensors_default, diag_prop)
set_prop(hal_sensors_default, system_prop)
