allow location self:capability net_raw;
allow location location_data_file:{ file sock_file } create_file_perms;
allow location wcnss_prop:file r_file_perms;
allow location wifi_prop:file r_file_perms;
allow location sysfs:file r_file_perms;
allow location sysfs_data:file r_file_perms;
