#gcamfix
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket0";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket2";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket3";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket4";
#allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad sysfs_graphics:file r_file_perms;
#allow mm-qcamerad camera_socket:sock_file { create unlink };
#gcamfix
#allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
#allow mm-qcamerad sensorservice_service:service_manager find;
#binder_call(mm-qcamerad, servicemanager);
#binder_use(mm-qcamerad);
set_prop(mm-qcamerad, diag_prop);
#gcamfix
allow mm-qcamerad sysfs_camera:dir search;
allow mm-qcamerad sysfs_camera:file rw_file_perms;
allow mm-qcamerad system_data_file:dir w_dir_perms;
#allow mm-qcamerad vendor_file:file execmod;
#allow mm-qcamerad system_file:file execmod;
