allow vendor_msm_irqbalanced proc_irq:dir search;
allow vendor_msm_irqbalanced proc_irq:file rw_file_perms;
allow vendor_msm_irqbalanced self:capability { setuid setgid };
