allow system_app sysfs_gesture:file rw_file_perms;
allow system_app vendor_file:file rx_file_perms;

# Allow system_app to read and create files in cnd_core_data_file
allow system_app cnd_core_data_file:dir w_dir_perms;
allow system_app cnd_core_data_file:file create_file_perms;
get_prop(system_app, cnd_vendor_prop)

set_prop(system_app, camera_prop)
