allow ueventd sysfs_devices_fingerprint:file { open read write };

# For BT to access sysfs_bluetooth_writable
rw_dir_file(ueventd, sysfs_bluetooth_writable)

allow ueventd self:capability sys_nice;
