# allow apps to read battery status
allow untrusted_app sysfs_battery_supply:lnk_file r_file_perms;

# allow apps to read charging status
r_dir_file(untrusted_app, sysfs_usb_supply)
allow untrusted_app sysfs_usb_supply:lnk_file r_file_perms;

#gcam idio telegram thx
allow untrusted_app vendor_file:file {read getattr};

#gcamtest3
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_25 rootfs:dir { search };
allow untrusted_app_25 rootfs:dir { getattr };

#allow untrusted_app_25 vendor_file:file { read };
#allow untrusted_app_25 vendor_file:file { search };
#allow untrusted_app_25 vendor_file:file { getattr };
