typeattribute vendor_init data_between_core_and_vendor_violators;

allow vendor_init {
  dhcp_data_file
  media_rw_data_file
  media_data_file
  tombstone_data_file
  unencrypted_data_file
  wifi_data_file
  camera_data_file
  bluetooth_data_file
  nfc_data_file
  cnd_core_data_file
  sensors_data_file
  system_data_file
  perfd_data_file
}:dir { create search setattr getattr open read ioctl write add_name remove_name rmdir relabelfrom };

allow vendor_init {
  unencrypted_data_file
  proc_max_map_count
  proc_panic
  sensors_data_file
  wifi_data_file
  bluetooth_data_file
}:file { create getattr open read write setattr relabelfrom unlink };

allow vendor_init sensors_data_file:dir relabelto;
allow vendor_init sensors_data_file:file relabelto;

domain_auto_trans(vendor_init, vendor_toolbox_exec, vendor_init)
allow vendor_init unlabeled:{ dir file } { getattr relabelfrom };
allow vendor_init unlabeled:dir search;
