allow vold sensors_data_file:dir { mounton };
allow vold persist_drm_file:dir { mounton };

allow vold firmware_file:dir { search };
allow vold firmware_file:file { read open getattr };

allow vold proc_irq:dir { read open };
allow vold sysfs_mmc_host:file { setattr w_file_perms };
