# Copyright (c) 2016, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on charger
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/cpus_offlined 14
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on boot
    # Bring up CPUs
    exec - root root system -- /system/bin/init.power.sh

    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    chown system system /sys/class/power_supply/ac/charger_timer
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/safety_timer_enabled

    chown root system /sys/module/lge_charging_controller/parameters/quick_charging_state
    chmod 0664 /sys/module/lge_charging_controller/parameters/quick_charging_state

on post-fs-data
    chown system system /sys/class/leds/lcd-backlight/thermald_status
    chmod 0644 /sys/class/leds/lcd-backlight/thermald_status

on enable-low-power
    # Set BFQ I/O scheduler
    setprop sys.io.scheduler "bfq"

    # Set idle GPU to 133 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6

    # Set perfd properties
    setprop sys.post_boot.parsed 1

    # Starting io prefetcher service
    start iop

on property:sys.boot_completed=1
    trigger enable-low-power
    write /proc/sys/kernel/sched_boost 0
    # update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-2
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2

# hard reset mode
on property:persist.sys.enable_hardreset=1
    write /sys/module/qpnp_power_on/parameters/hardreset_mode 1

on property:persist.sys.enable_hardreset=0
    write /sys/module/qpnp_power_on/parameters/hardreset_mode 0

# battery fake mode
on property:persist.service.fakebatt=1
    write /sys/class/power_supply/lgcc/pseudo_batt "1 1 100 40 4100000 80 1"

on property:persist.service.fakebatt=0
    write /sys/class/power_supply/lgcc/pseudo_batt "0 1 100 40 4100000 80 1"

#usb current max mode property
on property:persist.service.usbcurrentmax=1
    write /sys/class/power_supply/lgcc/usb_current_max_mode 1

on property:persist.service.usbcurrentmax=0
    write /sys/class/power_supply/lgcc/usb_current_max_mode 0

service charger /charger
    class charger
    seclabel u:r:healthd:s0

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service iop /system/bin/iop
    class main
    user root
    group root
    disabled
    socket iop seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

service perfd /system/vendor/bin/perfd
    class main
    user root
    disabled
    socket perfd seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks
