# Copyright (c) 2013-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /persist 0771 system system
    mkdir /persist-lg 0771 system system
    mkdir /sns 0755 system system
    mkdir /mpt 0755 system system
    symlink /data/tombstones /tombstones
    mount debugfs debugfs /sys/kernel/debug

    export ANDROID_DATA /data
    export ANDROID_ROOT /system
    export EXTERNAL_STORAGE /sdcard

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on fs
    wait /dev/block/bootdevice
    mount_all fstab.qcom
    swapon_all fstab.qcom
    restorecon_recursive /sns
    restorecon_recursive /persist
    restorecon_recursive /persist-lg

on post-fs
    write /sys/devices/platform/lge-qfprom/sec_read 0

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/data/qc_senseid 0700 system system
    mkdir /persist/bms 0700 root system
    restorecon_recursive /persist
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/usf 0700 system system
    mkdir /data/misc/tloc/ 0700 system drmrpc
    mkdir /data/misc/qvop 0660 system system
    mkdir /data/misc/audio_pp 0771 media audio

# Start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

# Fingerprint service
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system input

service qfp-daemon /system/bin/qfp-daemon
    class late_start
    user system
    group system drmrpc diag input

service qvop-daemon /system/bin/qvop-daemon
    class late_start
    user system
    group system drmrpc

# Start up peripheral manager
service per_mgr system/bin/pm-service
    class core
    user system
    group system net_raw
    ioprio rt 4

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service qseecomd /system/bin/qseecomd
    class core
    user root
    group root

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service iop /system/bin/iop
    class main
    user root
    group root
    disabled
    socket iop seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

service perfd /system/vendor/bin/perfd
    class main
    user root
    group root system
    writepid /dev/cpuset/system-background/tasks

service mpdecision /system/bin/mpdecision --avg_comp
    user root
    disabled

service thermal-engine /system/vendor/bin/thermal-engine
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    group root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system

service time_daemon /system/bin/time_daemon
    class late_start
    user root
    group root

service adsprpcd /system/bin/adsprpcd
    class main
    user media
    group media

service audiod /system/bin/audiod
    class late_start
    user system
    group system

service pd_mapper /system/vendor/bin/pd-mapper
    class core
    disabled

on property:persist.sys.pd_enable=1
    start pd_mapper
    write /sys/class/service_locator/service_locator_status 1

on property:persist.sys.pd_enable=0
    write /sys/class/service_locator/service_locator_status 0

service tlocd /system/bin/tloc_daemon
    class late_start
    user system
    group drmrpc gps net_raw

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service mdtp_service /system/vendor/bin/mdtp_service
   class late_start
   user system
   group system
