<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.settings.device"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23"/>

    <application
        android:label="GestureHandler"
        android:persistent="true">

        <receiver android:name="com.cyanogenmod.settings.device.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.cyanogenmod.settings.device.LGGestureService"
            android:permission="LGGestureService">
        </service>

    </application>
</manifest>
