<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.settings.device"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23"/>

    <application
        android:label="GestureHandler"
        android:persistent="true">

        <!-- Boot receiver -->
        <receiver android:name=".BootCompletedReceiver"
            android:directBootAware="true"
            android:defaultToDeviceProtectedStorage="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LGGestureService"
            android:permission="LGGestureService">
        </service>

    </application>
</manifest>
